$white: #ffffff !default;
$primary:#eb0a1e; // Rojo TOYOTA
$secondary: #1a1a1a; // Negro
$tertiary: #666; // Color Claro
$success: rgb(66, 183, 42);

$dark: #080808;
$dark_2: #373737;
$dark_3: #2d2d2d;
$ligth: #f6f6f6;
$ligth_2: #f1f1f1;
$ligth_3: #d6d6d6;

$facebook_color: #3b5a99;
$whatsapp_color: #00ad00;

// Small devices (landscape phones, 576px and up)
$breakpoint-sm: 576px;

// Medium devices (tablets, 768px and up)
$breakpoint-md: 768px;

// Large devices (desktops, 992px and up)
$breakpoint-lg: 992px;

// Extra large devices (large desktops, 1200px and up)
$breakpoint-xl: 1200px;